{% extends 'admin/base.html.twig' %}

{% block title %}Espace Admin - Item Menu{% endblock %}

{% block body %}
<div class="row">
    <div class="col-10 mx-auto">
        {% for message in app.flashes %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <p>
                    <strong>Succes</strong><br>
                    {{message[0]}}
                </p>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-between align-items-center">
            <h2>Item Menu</h2>
            <a href="{{path('app_admin_menu_add_item')}}" class="btn btn-warning btn-sm"><i class="feather-plus"></i> Ajouter un item</a>
        </div>
        {% if items|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Route</th>
                        <th>Paramétre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{item.item}}</td>
                            <td>
                                {% if item.route == null %}
                                    aucune route
                                {% else %}
                                    {{item.route}}
                                {% endif %}
                            </td>
                            <td>
                                {% if item.paramRoute == null %}
                                    aucun paramétre
                                {% else %}
                                    {{item.paramRoute}}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{path('app_admin_menu_add_item', {'id':item.id})}}" class="btn btn-primary"><i class="feather-edit"></i> Editer</a>
                                <a type="button" href="{{path('app_admin_menu_remove', {'id':item.id})}}" class="btn btn-danger"><i class="feather-trash-2"></i>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Il n'y as pas encore de produits</p>
        {% endif %}
    </div>
</div>
    
{% endblock %}
